asgiref==3.8.1  
blinker==1.4  
botocore==1.16.19  
certifi==2019.11.28  
chardet==3.0.4  
Click==7.0  
django==4.2.23  
docutils==0.16  
Jinja2==2.10.1  
jmespath==0.9.4  
jsonpatch==1.22  
jsonpointer==2.0  
jsonschema==3.2.0  
pyrsistent==0.15.5  
python-dateutil==2.7.3  
pytz==2019.3  
PyYAML==5.3.1  
requests==2.22.0  
six==1.14.0  
sqlparse==0.5.3  
typing-extensions==4.13.2  
urllib3==1.25.8

